@model PharmaStockManager.Models.Identity.ChangePasswordViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
</head>
<body>
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    @using (Html.BeginForm())
                    {
                        <div class="mb-3">
                            <label for="OldPassword" class="form-label">Eski şifre</label>
                            @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", @id = "OldPassword", @required = "required", @type = "password" })
                            @Html.ValidationMessageFor(m => m.OldPassword)
                        </div>
                        <div class="mb-3">
                            <label for="NewPassword" class="form-label">Yeni şifre</label>
                            @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @id = "NewPassword", @required = "required", @type = "password" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                        <div class="mb-3">
                            <label for="ConfirmPassword" class="form-label">Şifreyi doğrulayınız</label>
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "ConfirmPassword", @required = "required", @type = "password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Şifreyi Güncelle</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </article>
</body>
</html>
